.contact{
    background-color: #F5F3EA;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #252525;
    &__wrapper{
        max-width: 438px;
        margin: 0 auto;
        &-title{
            font-family: 'Gilroy-Light', sans-serif;
            font-weight: 300;
            font-size: 80px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: $dark-color;
        }
        &-info{
            &--title{
                font-family: 'Gilroy-Bold', sans-serif;
                font-weight: 400;
                font-size: 50px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
                color: $dark-color;
                margin-bottom: 30px;
            }
            &--desc{
                font-family: 'Gilroy-Medium', sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: $dark-color;
                margin-bottom: 30px;
            }
        }
        &-link{
            display: flex;
            align-items: center;
            column-gap: 10px;
            background-color: #252525;
            border-radius: 50px;
            padding: 16px 152px;
            &--text{
                color: #FFFFFF;

            }
            
        }
    }
}
@media (min-width:768px) and (max-width: 1200px) {
    .contact{
        border-bottom: 1px solid #252525;
        &__wrapper{
            max-width: 931px;
            margin: 0 auto;
            text-align: center;
            &-title{
                font-size: 150px;
            }
            &-info{
                
                &--title{
                    font-size: 64px;
    
                }
                &--desc{
                    
                    font-size: 34px;
                }
            }
            &-link{
                display: inline-flex;
                align-items: center;
                column-gap: 10px;
                background-color: #252525;
                border-radius: 50px;
                padding: 15px 30px;
                &--text{
                    color: #FFFFFF;
    
                }
                
            }
        }
    }
}
@media (min-width:1200px) {
    .contact{
        border-bottom: 1px solid #252525;
        padding-top: 100px;
        padding-bottom: 100px;
        &__wrapper{
            max-width: 1780px;
            margin: 0 auto;
            display: flex;
            column-gap: 40px;


            &-title{
                font-size: 155px;
                
            }
            &-info{
                text-align: left;
                &--title{
                    font-size: 64px;
                    text-align: left;
                  
    
                }
                &--desc{
                    
                    font-size: 34px;
                    text-align: left;
                    
                }
            }
            &-link{
                display: inline-flex;
                align-items: center;
                column-gap: 10px;
                background-color: #252525;
                border-radius: 50px;
                padding: 15px 30px;
                &--text{
                    color: #FFFFFF;
    
                }
                
            }
        }
    }

}